.chap-title{
    display: flex;
    
    margin-left: 5%;
    margin-right: 5%;
    gap: 1.1%;
}

.chap-title-container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chap-title-container .album-info,
.chap-title-container .document-info {
    margin-bottom: 15px;
}

.chap-title-container p {
    margin-left: 15px;
    font-size: 18px;
    overflow: hidden;
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chap-title-container strong {
    color: #000000;
}

.error-message {
    color: #ff4d4d;
    text-align: center;
    font-size: 18px;
}

.loading-message {
    text-align: center;
    font-size: 18px;
    color: #2196f3;
}
